*{
    font-family: inter;
}


header{
    padding: 30px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu li{
    font-weight: bold;
    font-size: 16px;
    margin-right: 40px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

header button{
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: poppins;
    width: 230px;
    height: 42px;
    background-color: #ffffff00;
    border-radius: none;
    border: 1px solid white;
    cursor: pointer;
    transition: ease-in-out .2s;
}

header button:hover{
    transform: scale(1.1);
    box-shadow: 5px solid white;

}

.container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.text-content{
    font-size: 25px;
    font: poppins bold;
}

span{
    color: red;
}

p{
    font-family: inter;
    font-weight: regular;
    font-size: 16px;
}

.price{
    font-family: inter;
    font-weight: bold;
    font-size: 40px;
    color: #ff9900;
    background-color: #c5ffc3;
    width: 134px;
    height: 20px;
}

.order-btn{
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
    width: 230px;
    height: 42px;
    text-align: center;
    border: none;
    border-radius: none;
    background-color:  #A80000;
    color: white;
    transition: ease-in-out .2s;
}

.order-btn:hover{
    transform: scale(1.1);
    box-shadow: 5px solid rgba(253, 120, 120, 0.877);

}


.image-content {
    position: relative;
    width: 300px; /* Ajuste conforme necessário */
    height: auto;
    display: inline-block;
}

.burger {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2; /* Mantém o hambúrguer na frente */
}

.leaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    z-index: -1; /* Deixa as folhas atrás do hambúrguer */
}

.red-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 32%; /* Ajuste a largura conforme necessário */
    height: 100vh;
    background-color: #A80000;
    z-index: -1;
}    
